.wrapper {
    max-width: 75rem;
    margin: 0 auto;
    padding: 2rem 3rem;
}

header {
    margin-bottom: .5rem;
    position: relative;
    overflow: hidden;
    padding: 3rem 6rem;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
    }

    &:before {
        background: url("../img/back-img.jpg");
        filter: blur(.25rem);
    }

    &:after {
        background: rgba(0,0,0, .5);
    }

    & * {
        position: relative;
        z-index: 1;
    }
}

.main {
    padding: 1rem 3rem;
}

footer {
    padding: 2rem 3rem;
    background-color: rgba($colour-slate, .85);
}

.search-box {
    display: flex;
    justify-content: space-between;

    input {
        flex-basis: 67%;
    }

    button {
        flex-basis: 25%;
    }
}

.add-movie-box {
    position: absolute;
    top: 1rem;
    right: 3rem;
}

.movie-list-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
